<template name="home">
	<div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">Estudiante</h2>
            <img src="/image/cliente.jpg">
            <!--<h5 class="center">Speeds up development</h5>-->

            <p class="light" align="justify">Si bien existen cursos de educación en línea en diversos formatos y niveles, la oferta educativa en línea para la enseñanza universitaria es la más importante actualmente y proviene tanto de universidades públicas como privadas, ofreciendo en su conjunto una amplia oferta educativa tanto para la formación de grado como para la formación de posgrado, existiendo incluso instituciones que imparten cursos en dicha modalidad de forma exclusiva, tecnológicas propias de la modalidad</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">Capacitador</h2>
            <img src="/image/faci.jpg">
            <!--<h5 class="center">User Experience Focused</h5>-->

            <p class="light" align="justify">Por vincular sus orígenes con la educación a distancia, los docentes que trabajan en cursos de educación en línea, suelen recibir el nombre de tutores, ya que su función primordial es la de acompañar y asistir al estudiante a lo largo de su proceso de aprendizaje en el contexto de un programa que carece de un espacio de físico como en la educación presencial. Por las características generales de la educación en línea, el papel que docente/tutor suele asumir incluye una serie de funciones que, dependiendo del curso, pueden variar en su nivel de complejidad. Para describir sus funciones, la bibliografía especializada suele considerar las siguientes dimensiones</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text">Empresa</h2>
            <img src="/image/empresa.jpg">
           <!-- <h5 class="center">Easy to work with</h5>-->

            <p class="light"  align="justify">Sin duda, las ventajas de la educación virtual han alcanzado al mundo corporativo, brindándole un medio de capacitación capaz de impactar a un gran número de empleados, en un breve espacio de tiempo y con costos mucho menores que los ofrecidos por la capacitación tradicional, teniendo como objetivos el incremento de la productividad, aumentar la competitividad y agregar valor tanto a la persona como a la empresa</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Somos una empresa de enseñanza virtual moderno en base a Material Online</h5>
        </div>
      </div>
    </div>
    <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>¿Qué es lo que obtendrás? </h4>
          
          <p class="left-align light">
          <table class="centered">
              <tr>Accedes a todos los más de 100 cursos y 10 carreras</tr>
              <tr>Clases en vivo con los profesores</tr>
              <tr>Estudias cuando quieras desde web y tu móvil</tr>
              <tr>Exámenes al final de cada curso y diploma por cada carrera</tr>
              <tr>Acceso exclusivo al taller de creación de startups</tr>
              <tr>Entrada preferencial a nuestros eventos</tr>
              <tr>Pago en depósito, PayPal y otros métodos</tr>
              <tr>Paypal</tr>
              <tr>Depósito</tr>
              <tr>Pago con tarjeta de crédito o débito</tr>
              <tr>Visa</tr>
              <tr>Mastercard</tr>
          </table>
            </p>
        </div>
      </div>

    </div>
  </div>
</template>